/* hamburger menu*/
header{
	width:100%; 
	background-color: #28AECF;
	height:50px; 
	line-height:normal;
}
header img{
	height:50px; 
}
.login_button {
	text-align: center;
	position:absolute;
	top:0;
	right:8px;
	padding-left:1px;
 
  }

.login_button .btn {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 600;
  padding: 6px 3px;
  
}
.login_button a {
	text-decoration:none;
	color:white;
	font-weight: 600;
}
.login_button a:hover{
	text-decoration:none;
	color:white;
	font-weight: 600;
}


<!--home button-->
.home-button {
	text-align: center;
	position:absolute;
	top:0;
	right:8px;
	padding-left:1px;
 
  }

.home-button a {
	text-decoration:none;
	color:white;
	font-weight: 600;
}
.home-button a:hover{
	text-decoration:none;
	color:white;
	font-weight: 600;
}


<!--feedback button-->
.feedback_button {
	text-align: center;
	position:absolute;
	top:0;
	right:8px;
	padding-left:1px;
 
  }

.feedback_button .btn {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 600;
  padding: 6px 3px;
  
}
.feedback_button a {
	text-decoration:none;
	color:white;
	font-weight: 600;
}
.feedback_button a:hover{
	text-decoration:none;
	color:white;
	font-weight: 600;
}

<!--post button -->
.post_button {
	text-align: center;
	position:absolute;
	top:0;
	right:8px;
	padding-left:1px;
 
  }

.post_button .btn {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 600;
  padding: 6px 3px;
  
}
.post_button a {
	text-decoration:none;
	color:white;
	font-weight: 600;
}
.post_button a:hover{
	text-decoration:none;
	color:white;
	font-weight: 600;
}

<!--view button-->
.view_button {
	text-align: center;
	position:absolute;
	top:0;
	right:8px;
	padding-left:1px;
 
  }

.view_button .btn {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 600;
  padding: 6px 3px;
  
}
.view_button a {
	text-decoration:none;
	color:white;
	font-weight: 600;
}
.view_button a:hover{
	text-decoration:none;
	color:white;
	font-weight: 600;
}

/*searchbox*/

.results li a {
    color: #1e7ad3;
    text-decoration: none;
}

.results li a:hover { text-decoration: underline }

input {
    font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #555860;
}

.search {
    position: absolute;
    top:10px;
	margin-left:53px;
	margin-right:5px;
    width: 40%;
}

.search input {
    height: 26px;
    width: 100%;
    padding: 0 12px 0 25px;
    background: white url("http://cssdeck.com/uploads/media/items/5/5JuDgOa.png") 8px 6px no-repeat;
    border-width: 1px;
    border-style: solid;
    border-color: #a8acbc #babdcc #c0c3d2;
    border-radius: 13px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -moz-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -ms-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -o-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
}

.search input:focus {
    outline: none;
    border-color: #66b1ee;
    -webkit-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -moz-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -ms-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -o-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
}

.search input:focus + .results { display: block }

.search .results {
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 0;
    margin: 0;
    border-width: 1px;
    border-style: solid;
    border-color: #cbcfe2 #c8cee7 #c4c7d7;
    border-radius: 3px;
    background-color: #fdfdfd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #eceef4));
    background-image: -webkit-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -moz-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -ms-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -o-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: linear-gradient(top, #fdfdfd, #eceef4);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.search .results li { display: block }

.search .results li:first-child { margin-top: -1px }

.search .results li:first-child:before, .search .results li:first-child:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    border: 5px outset transparent;
}

.search .results li:first-child:before {
    border-bottom: 5px solid #c4c7d7;
    top: -11px;
}

.search .results li:first-child:after {
    border-bottom: 5px solid #fdfdfd;
    top: -10px;
}

.search .results li:first-child:hover:before, .search .results li:first-child:hover:after { display: none }

.search .results li:last-child { margin-bottom: -1px }

.search .results a {
    display: block;
    position: relative;
    margin: 0 -1px;
    padding: 0 1px 0 1px;
    color: #808394;
    font-weight: 800;
    text-shadow: 0 1px #fff;
    border: 1px solid transparent;
    border-radius: 3px;
}

.search .results a span { font-weight: 200 }

.search .results a:before {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -9px;
    background: url("http://cssdeck.com/uploads/media/items/7/7BNkBjd.png") 0 0 no-repeat;
}

.search .results a:hover {
    text-decoration: none;
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    border-color: #2380dd #2179d5 #1a60aa;
    background-color: #338cdf;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #59aaf4), color-stop(100%, #338cdf));
    background-image: -webkit-linear-gradient(top, #59aaf4, #338cdf);
    background-image: -moz-linear-gradient(top, #59aaf4, #338cdf);
    background-image: -ms-linear-gradient(top, #59aaf4, #338cdf);
    background-image: -o-linear-gradient(top, #59aaf4, #338cdf);
    background-image: linear-gradient(top, #59aaf4, #338cdf);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    -ms-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    -o-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
}

:-moz-placeholder {
    color: #a7aabc;
    font-weight: 200;
}

::-webkit-input-placeholder {
    color: #a7aabc;
    font-weight: 200;
}



.hamburger{
  background-color:#28AECF;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:0px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background-color:#28AECF;
  position:absolute;
  top:0px;
  right:0;
  padding:0px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}
/*menu container*/
.container{
	padding-bottom:70px;
}
/*button for language*/
.container-lang{
	background-color:white;
	padding-top:23%;	
}
.round-button {
	width:40%;
	position: relative;
    left: 50%;  
    transform: translate(-50%, -50%);
}
.round-button-circle {
	width: 100%;
	height:0;	
	padding-bottom: 100%;
    border-radius: 50%;
	border:10px solid #002266;
    overflow:hidden;    
    background: #4679BD; 
    box-shadow: 0 0 3px gray;
}
.round-button-circle:hover {
	background:#30588e;
}
.round-button-circle img{
	float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
    
	
}
.round-button a {
    display:block;
	float:left;
	width:100%;
	padding-top:50%;
    padding-bottom:50%;
	line-height:1em;
	margin-top:-0.5em;
    
	text-align:center;
	color: white;
    font-family:Verdana;
    font-size:10em;
    font-weight:bold
    text-decoration:none;
}
/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background-color:#28AECF;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #002266;
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #002266;
  font-size: 0.8em;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
		
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 600;
  padding: 6px 3px;
  
}
.profile-userbuttons a{
	text-decoration:none;
	color:white;
}
.profile-userbuttons a:hover{
	text-decoration:none;
	color:white;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #002266;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}
/* home-button*/
.home-button{
	position:fixed;
	z-index:1000;
	bottom:5em;
	right:2em;

	
}

.feedback-button{
	position:fixed;
	z-index:1000;
	bottom:10em;
	right:2em;

	
}

/*footer*/
.page-footer {
	margin-top:100px;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 4em;
	z-index:1000;
	background-color: #28AECF;
}
.footer-image img{
	height: 4em;
}